.axis path,
.axis line,
.legend path,
.legend line
{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


.y path,
.y line
{
    fill: none;
    stroke: white;
    stroke-width: 0;
    shape-rendering: crispEdges;
}

body {

	font-family: Consolas, sans-serif;
	font-size: 12px;
}




